.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row{
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero-logo{
  padding: 5px
}

.caption {
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
}

h1 {
    font-size: 20px;
}

h3 {
  text-align: center;
}
